html {
    min-height: 100%;
    background-color: darkorchid; 
} 
a {
    text-decoration: none; 
    color: darkturquoise; 
    font-weight: bold; 
    border: 8px solid darkturquoise; 
    border-radius: 30px;
    font-size: 2em;  
    padding: 1.5em; 
    height: 5em;
    width: 5em; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    gap: 12em; 
    margin-top: 10em;  
}