html {
    min-height: 100%;
    background-color: darkturquoise; 
}
body {
    min-height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    gap: 5em; 
} 
p {
    color: darkorchid; 
    font-weight: bold; 
    font-size: 4em; 
}
a {
    color: darkorchid; 
    text-decoration: none; 
    border: 8px solid darkorchid; 
    font-weight: bold;
    font-size: 2em; 
    padding: 1.5em; 
    border-radius: 30px; 
    width: 4em; 
    text-align: center; 
    background-color: thistle;  
}